/* Providing css features to my todo app */
body{
    background-color:#7395AE;
}
/* Giving center alignment to the app */
#main{
    text-align: center;
    margin-left:25%;
    border-radius: 5%;
    background-color:#557A95;
    width: 50%;
}
/* Heading of the app and giving some general css features */
#heading{
    margin: 0;
    height: 100px;
    background-color: #5D5C61;
    border: 1px solid grey;
}
#heading h2{
    margin-top: 35px;
}
/* This is a button which redirect you to my github account  */
#github-btn{
    height: 30px;
    margin-left: 85%;
    margin-top: -60px;
    border: 3px solid purple;
}
/* the input where we provide the description */
#todo-description{
    width: 100%;
    height: 10%;
    border: none;
    display: inline;
    background-color: whitesmoke;
}   
/* the category */
select{
    background-color: whitesmoke;
    width: 45%;
    height: 10%;
}
/* the date */
#todo-date{
    margin: 0;
    background-color: whitesmoke;
    width: 45%;
    height: 10%;
}
/* button to add the task in to the list */
#btn-add{
    height: 50px;;
    margin-top: 20px;
    border: none;
    color: #e4e4e4;
    background-color: #3e3c3c;
}
#btn-add:hover{
    transform: scale(1.2);
}
/* Here we are retriving the data from the user and displaying it into our browser */
#todo-list{
    margin-right: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom:1px solid grey;
}
#show-description{
    display: flex;
    flex-direction: row;
    width: 50px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
}
#checkbox{
    border: none;
}
li input:checked + span{
    text-decoration: line-through;
}
#show-category{
    width: 100px;
    height: 30px;
    background-color: teal;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
#show-category1{
    width: 100px;
    height: 30px;
    background-color: darkcyan;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
#delete-button{
    width: 50px;
    padding-top: 10px;  
}
#delete-button i{
    color: darkred;
}
#delete-button:hover{
    transform: scale(1.6);
}
#show-date{
    font-size: .8rem;
    margin-top:5px;
    text-align: left;
}
/* Media Queries */
@media screen and (max-width:800px){
    body{
        width: 100%;
    }
    #github-btn {
        display: none;
    }

}